<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/registration" method="post">
        <input type="text" name="Name" id="" placeholder="Name" required>
        <input type="text" name="Designation" id="" placeholder="Designation" required>
        <input type="email" name="Email" id="" placeholder="Email" required>
        <input type="text" name="user" id="" placeholder="User" required>
        <input type="password" name="pass" id="" placeholder="Password" required>
        <input type="submit" value="Submit">
        <h1><%= error %></h1>
    </form>
</body>
</html>